<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PACHALIK V Test</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>

<div class="container">

    <img src="images/logo.webp" class="logo" alt="Logo">

    <h2>ROYAUME DU MAROC 🇲🇦</h2>

    <h3>MINISTÈRE DE L'INTÉRIEUR</h3>

    <h3>WILAYA DE LA RÉGION DE L'ORIENTAL</h3>

    <h3>PRÉFECTURE D'OUJDA-ANGAD</h3>

    <h3 class="underline">PACHALIK DE BENI DRAR</h3>

    <img src="images/institution.png" class="building" alt="Institution">

    <h1>PACHALIK</h1>

    <p>
        Consultez les documents nécessaires <br>
        pour obtenir les services du Pachalik.
    </p>

    <p class="message-test">
        Cette version contient des modifications pour les tests Git
    </p>

    <img src="images/group.png" class="users" alt="Users">

    <button id="btnEnter">
        Accéder à la Version Test
    </button>

   

</div>

<script src="script.js"></script>

</body>
</html>